// ================================================================================
primary = #ff6700


// ================================================================================
// responsive break points
sm()
  @media (max-width: 480px)
    {block}

md()
  @media (min-width: 481px) and (max-width: 1280px)
    {block}

lg()
  @media (min-width: 1281px)
    {block}
