
.g-flex-wrap
  flex-wrap: wrap

/* flex align-items */
.g-flex-align-items-center
  align-items: center

.g-flex-align-items-flex-start
  align-items: flex-start

.g-flex-align-items-flex-end
  align-items: flex-end

/* flex justify-content */
.g-flex-justify-content-center
  justify-content: center

.g-flex-justify-content-flex-end
  justify-content: flex-end

.g-flex-justify-content-space-around
  justify-content: space-around

.g-flex-justify-content-space-between
  justify-content: space-between
